.receita {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px;
}

.titulo {
  text-align: center; 
  font-size: 36px;
  font-weight: 400;
  padding: 20px;
  background-color: #98BFBE;
  border-radius: 25px;
  margin-bottom: 40px;  /* Adicionado espaçamento abaixo do título */
}

.imgMaterialContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 60px;
  width: 100%;
  gap: 40px;  /* Aumentado o espaçamento entre os itens */
}

.imagemContainer {
  position: relative;
  width: 100%;
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #98bfbe;
  border-radius: 15px;
  box-sizing: border-box;
}

.imagem {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  display: block;
  position: relative;
  z-index: 1;
}

.material {
  min-width: 300px; 
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  background-color: #fff; 
  padding: 20px; 
  border-radius: 15px; 
  border: 2px solid #98BFBE; 
}

.material h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: left;
}

.material p {
  font-size: 18px;
  line-height: 1.5;
  text-align: left;
}

.receitaGeral {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 95%;
  margin: 20px;
}

.autor {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.autor div {
  display: flex;
  gap: 10px;
}

.autor a:hover {
  transition: all 0.4s ease 0s;
  font-weight: bold;
  color: #281dfd;
  transform: translateY(-2px);
}

.dataTitle {
  font-weight: bold;
}

.icones {
  display: flex;
  justify-content: center;  
  margin-top: 10px;
}

.icones span {
  margin: 0 5px;
}

.likeButton {
  background-color: #98BFBE;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.likeButton:hover {
  background-color: #7aa8a7;
}