.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background: url(../../public/bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.adminContainer {
  background-color: rgba(151, 172, 193, 0.4);
  opacity: 0.75;
  padding-bottom: 50px;
}