.perfilContainer { 
  display: flex; 
  flex-direction: row; 
  align-items: flex-start; 
  padding: 20px; 
  margin: 20px; 
} 

.perfilEsquerda {
  flex: 1;
  text-align: center; 
  background-color: #fff;
  padding: 20px;
  border-radius: 15px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 350px; 
}

.imagemTitulo {
  border-radius: 50%;
  width: 150px; 
  height: 150px;
  margin-bottom: 15px; 
}

.nome {
  font-size: 20px; 
  font-weight: bold;
  margin-bottom: 10px; 
}

.botaoSair {
  background-color: #d9534f;
  color: white;
  border: none;
  padding: 10px; 
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  display: block; 
  width: 200px; 
  max-width: 350px;
  margin: 0 auto;
  box-sizing: border-box; 
}


.biografia {
  font-size: 18px;
  text-align: center;
  line-height: 1.5;
  background-color: #98BFBE;
  padding: 10px;
  border-radius: 10px;
  display: block;
  width: calc(100% - 20px); 
  max-width: 350px; 
  margin: 0 auto; 
  box-sizing: border-box; 
}

.perfilDireita { 
  flex: 2; 
  display: flex; 
  flex-direction: column; 
  justify-content: space-between;
} 


.tituloContainer { 
  display: flex;
  flex-direction: column; 
  align-items: center; 
  margin-bottom: 20px; 
  width: 350px; 
  
} 

.imagemTitulo { 
  border-radius: 50%; 
  width: 180px; 
  height: 180px; 
  margin-bottom: 10px;
} 

.tituloContainer p { 
  font-size: 18px; 
  text-align: center;
  width: 100%; 
  border-radius: 25px; 
  background-color: #98BFBE; 
  border: 2px solid #98BFBE; 
  margin-bottom: 20px;
}

.biografia { 
  width: 350px; 
  height: 300px; 
  border-radius: 15px; 
  background-color: #98BFBE; 
  border: 2px solid #98BFBE; 
  margin-bottom: 20px; 
}

.biografia p { 
  font-size: 18px; 
  text-align: center;
  width: 100%; 
  border-radius: 25px; 
  background-color: #98BFBE; 
  border: 2px solid #98BFBE; 
  margin-bottom: 20px;
}  


.caixaBio { 
  background-color: #E8F4F8; 
  padding: 10px; 
  border-radius: 10px; 
  border: 1px solid #98BFBE; 
  width: 200px; 
  height: 150px; 
  overflow-y: auto; 
} 

.caixaBio p { 
  line-height: 1.5; 
  margin: 0; 
} 

.detalhesSection,
.itensSection {
  width: 100%;
}

.dadosPessoais { 
  width: 100%; 
  margin-bottom: 20px; 
  background-color: #FAC97B; 
  padding: 20px; 
  border-radius: 15px; 
  border: 2px solid #FAC97B; 
} 

.dadosPessoais p { 
  font-size: 24px; 
  text-align: center;  
  width: 350px; 
  border-radius: 25px; 
  background-color: #98BFBE; 
  border: 2px solid #98BFBE; 
  margin-bottom: 10px;
} 

.dadosPessoais label { 
  font-size: 24px; 
  display: block; 
  font-size: 18px; 
  line-height: 1.5; 
} 

.inputsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  width: 30%; 
}

.caixaTexto { 
  font-size: 14px; 
  padding: 10px; 
  margin-top: 5px; 
  border-radius: 5px;  
  background-color: #98BFBE; 
  border: 1px solid #98BFBE;
  text-align: center; /* Centraliza o texto dos botões */
} 

.salvos { 
  width: 100%; 
  background-color: #FAC97B; 
  padding: 20px;
  border-radius: 15px; 
  border: 2px solid #FAC97B; 
} 

.salvos p { 
  font-size: 24px; 
  text-align: center;  
  width: 350px; 
  border-radius: 15px; 
  background-color: #98BFBE; 
  border: 2px solid #98BFBE; 
  margin-bottom: 10px;
} 

.itensContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.itemGroup {
  display: flex;
  flex-direction: column;
  width: 30%; 
}

.imagemItemSalvo { 
  border-radius: 5px; 
  width: 100px; 
  height: 100px; 
  margin-top: 5px; 
} 

.cardContainer { 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  width: 100%; 
} 

.groupContainer { 
  display: flex; 
  flex-wrap: wrap; 
  gap: 20px; 
  justify-content: center; 
  width: 100%; 
} 

.card {
  background: #d6f0f2;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.imageContainer {
  width: 100%;
  height: 150px;
  overflow: hidden;
}

.imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Corta a imagem sem distorcer */
}

.cardInfo {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tag {
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  background-color: #f5a623;
  margin: 10px;
}

.cardInfo h3 {
  font-size: 16px;
  margin: 0;
}

.cardInfo button {
  background: none;
  border: none;
  font-size: 18px;
  color: #333;
  cursor: pointer;
  transition: color 0.3s;
  margin: 20px;
}

.cardInfo button:hover {
  color: #007bff;
}
