.receita {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px;
}

.titulo {
  text-align: center; 
  font-size: 36px;
  font-weight: 400;
  padding: 20px;
  background-color: #98BFBE;
  border-radius: 25px;
  margin-bottom: 40px;  
  width: 100%; 
  max-width: 600px;  
}

.section {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;  
  margin-bottom: 60px;
  width: 100%;
  max-width: 800px;  
  gap: 40px;  
}

.imagemContainer { 
  position: relative; 
  width: 100%; 
  max-width: 300px; 
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px; 
  background-color: #98BFBE;
  border-radius: 15px; 
  box-sizing: border-box; 
} 
  
.imagem { 
  width: 100%; 
  height: 100%;
  border-radius: 15px; 
  display: block; 
  position: relative;
  z-index: 1; 
}

.material {
  width: 100%; 
  max-width: 300px; 
  display: flex;
  flex-direction: column;
  align-items: flex-start;  
  background-color: #fff;
  padding: 20px; 
  /* border-radius: 15px; 
  border: 2px solid #98BFBE;  */
  margin-bottom: 0; 
}

.material h2 {
  font-size: 24px;
  margin-bottom: 10px; 
  text-align: left;
}

.material p {
  font-size: 18px;
  line-height: 1.5;
  margin: 5px 0; 
  text-align: left;
}

.receitageral{
  display: flex;
  justify-content: center;
  margin: 20px;
}

.receitaGeral h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.receitaGeral .conteudo {
  margin-bottom: 20px; 
}

.receitaGeral p {
  font-size: 18px;
  line-height: 1.5;
  margin: 10px 0;
}

.autor p {
  font-size: 15px;
  line-height: 1.0;
  margin: 5px 0; 
  text-align: left; 
}

.icones {
  display: flex;
  justify-content: center;  
  align-items: center;
  margin-top: 10px;
}

.icones span {
  margin: 0 5px;
  font-size: 16px;
  line-height: 1.5;
}

button.likeButton {
  background-color: #98BFBE;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

button.likeButton:hover {
  background-color: #7aa8a7;
}
